{% extends "base.html" %}

{% block content %}
	<h1>Comment-sorted!</h1>
    <ol>
	    {% for post in posts %}
	    <hr>
		    <li>
			    <div class="w3-container w3-hover-light-grey">
		    		<a href="{{ url_for('news_post', news_id=post._id) }}">
		    			<span>
		    				<img src="{{ post.image }}" height="50px" width="auto" display="inline-block">
		    				<h1>{{ post.title }}</h1>
		    			</span>
		    		</a>
		    		<h4>Author: {{ post.author }}</h4>
		    		<h5>Date: {{ post.date }}</h5>
		    		<h5># of comments: {{ post.no_of_comments }}</h5>
		    		<p>{{ post.body }}</p>
			    </div>
			</li>
	    {% endfor %}
	</ol>
{% endblock %}