{% extends "base.html" %}

{% block content %}
	{% if error_flag %}
		<h1>Article not found!</h1>

	{% else %}
		<h1>{{ post.title }}</h1>
		<h5>Published: {{ post.date }}</h5>
		<div id="content-wrapper">
			<div id="content">
				<div id="text-body">
					<p>{{ post.body }}</p>
				</div>
				<div id="text-image">
					<img src="{{ post.image }}" height="400" width="auto">
				</div>
			</div>
			<hr>
			<h5>Author: {{ post.author }}</h5>
		</div>
		<div>
			<h3>Comment if you want:</h3>
			{{ form.hidden_tag() }}
			<p>
				{{ form.author.label }}<br>
				{{ form.author(size=100) }}
				{% for error in form.author.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>
				{{ form.body.label }}<br>
				{{ form.body() }}
				{% for error in form.body.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>{{ form.submit() }}</p>
		</div>
	{% endif %}
{% endblock %}