<html>
  <head>
    <title>OKOSL Homeworks</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet" >
    <!-- <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/okosl_helper.js') }}"></script>
    <style>
        hr { border-color: #cccccc; margin: 0; }
        .no-margins { margin: 0px; }
        .with-margins { margin: 10px; }
        .col-centered { float: none; margin: 0 auto; }
    </style>

  </head>

  <body>
    <div id="header-div" class="clearfix with-margins">
      <div class="pull-left"><a href="/"><h1 class="no-margins">{{ user_manager.USER_APP_NAME }}</h1></a></div>
      <div class="pull-right">
          {% if call_or_get(current_user.is_authenticated) %}
              <a href="{{ url_for('user.edit_user_profile') }}">{{ current_user.username or current_user.email }}</a>
              &nbsp; | &nbsp;
              <a href="{{ url_for('user.logout') }}">Sign out</a>
          {% else %}
              <a href="{{ url_for('user.login') }}">Sign in</a>
          {% endif %}
      </div>
    </div>

    {% block menu %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href={{ url_for('homeworks') }}>Homeworks</a></li>
          {% if current_user.has_role('Admin') %}
            <li><a href={{ url_for('admin_page') }}>Admin Page</a></li>
          {% endif %}
          <li><a href={{ url_for('user.edit_user_profile') }}>Edit user details</a></li>
          <li><a href={{ url_for('user.logout') }}>Sign out</a></li>
        </ul>
      </div>
    </nav>
    {% endblock %}

    {% block crumbs %}
      <!-- breadcrumbs object always has a flask_menu.MenuEntryMixin object, so the "if empty" check can be performed by checking if len > 1 -->
      {% if breadcrumbs | length > 1 %}
        <ul class="breadcrumb">
          <!-- starting from index 1 because of the aforementioned flask_menu.MenuEntryMixin -->
          {%- for crumb in breadcrumbs[1:] -%}
            <li><a href="{{ crumb.url }}">{{ crumb.text }}</a></li>
          {%- endfor -%}
        </ul>
      {%- endif %}
    {% endblock %}

    <hr class="no-margins"/>

    {% block flash_messages %}
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            {% if category=='error' %}
              {% set category='danger' %}
            {% endif %}
            <div class="alert alert-{{category}}">{{ message|safe }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    {% endblock %}

    {% block content %}{% endblock %}

  </body>
</html>
