<html>
  <head>
    <title>OKOSL Homeworks</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <header>
      <h1>OKOSL Homeworks - hi {{ current_user.username }}!</h1>
    </header>
    <nav>
      <div class="w3-bar w3-orange w3-xlarge">
        <a href={{ url_for('homeworks') }}>Homeworks</a>
        {% if current_user.has_role('Admin') %}
          <a href={{ url_for('admin_page') }}>Admin Page</a>
        {% endif %}
        <a href={{ url_for('user.edit_user_profile') }}>Edit user details</a>
        <a href={{ url_for('user.logout') }}>Sign out</a>
      </div>
    </nav>
    print {{ current_user.has_role('Admin') }}
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="w3-container w3-red">
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

  </body>
</html>