{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <h1>Homework: {{ homework.get_slug() }}</h1>
  <button class="btn btn-primary" id={{ homework.id }} onclick="pull_solutions(this)">Pull Solutions</button>
  {% if homework.has_unresolved() %}
    <button class="btn btn-secondary" id={{ homework.id }} disabled>Push Remarks</button>
  {% else %}
    <button class="btn btn-secondary" id={{ homework.id }} onclick="push_remarks(this)">Push Remarks</button>
  {% endif %}
  <div class="well well-sm" id="ajax-message-well" style="display: none">
  </div>
</div>

<div class="container">
  <ul class="list-group">
  	{% for task in homework.tasks %}
      <li class="list-group-item">
        <a href={{ url_for('task', task_id=task.id, hw_id=homework.id) }}>
          <h4>Task number {{ task.task_number }}</h4>
          Text: {{ task.task_text }} <br>
          Number of subtasks: {{ task.subtasks | length }} <br>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}