{% extends "base.html" %}

{% block content %}
  <h1>Homeworks</h1>
  <div class="container">
    <select id="homeworksByYear">
      {% for year in years %}
        <option value="{{ year }}">{{ year }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="container">
    {% for year in years %}
    <div class="container" id="hw-{{ year }}">
      <ul class="list-group">
        {% for hw in homeworks_by_year[year] %}
        <li class="list-group-item">
          <a href={{ url_for('homework', hw_id=hw.id) }}>
            <h4>{{ hw.name }}</h4>
          </a>
          Year: {{ hw.year }}
          Number: {{ hw.ordinal_number }}
          Number of tasks: {{ len(hw.tasks) }}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}



<!-- <script>
function changeYear() {
  var selected_year = document.getElementById("homeworksByYear").value;

  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
 -->

    
{% endblock %}