{% extends "base.html" %}

{% block content %}
<h1>Homework: {{ homework.get_slug() }}</h1>
<div class="container">
  <ul class="list-group">
  	{% for task in homework.tasks %}
      <li class="list-group-item">
        <a href={{ url_for('task', task_id=task.id) }}>
          <h4>Task number {{ task.task_number }}</h4>
          Text: {{ task.task_text }} <br>
          Number of subtasks: {{ task.subtasks | length }} <br>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}