{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <h1>Task {{ task.task_number }}, subtask {{ subtask.subtask_number }}</h1>
  <h3>{{ subtask.subtask_text }}</h3>
  <p>Subtask text: {{ subtask.subtask_text }}</p>
  <p>Maximum points: {{ subtask.max_points }}</p>

  {% if solution_group.final_remark is not none %}
    <div class="container-fluid">
      <h2>Final remark</h2>
      <span class="remark-text">{{ solution_group.final_remark.text }}</span><br>
      Score percentage: {{ solution_group.final_remark.score_percentage }} <br>
      Author: {{ solution_group.final_remark.author.username }}
    </div>
  {% endif %}
</div>

<hr>

<div class="container-fluid">
  <h3>Solutions:</h3>
  <ul class="list-group">
  	{% for solution in solution_group.solutions %}
      <li class="list-group-item">
        <span class="solution-text">{{ solution.solution_text }}</span>
        <hr>
      </li>
    {% endfor %}
  </ul>
</div>

<hr>

<div class="container-fluid">
  <h3>Remarks:</h3>
  <ul class="list-group">
    {% for remark in solution_group.remarks %}
      <li class="list-group-item">
        <span class="remark-text">{{ remark.text }}</span><br>
        Score percentage: {{ remark.score_percentage }} <br>
        Author: {{ remark.author.username }}
      </li>
      <hr>
    {% endfor %}
  </ul>
</div>

{% if solution_group.remarks | length > 2 or current_user.has_role('Admin') %}
  <div class="container-fluid">
    {% if solution_group.final_remark is none %}
      <h3>Add final remark:</h3>
    {% else %}
      <h3>Modify final remark:</h3>
    {% endif %}
    <form action="" method="post">
      {{ final_remark_form.hidden_tag() }}
      <p>
        {{ final_remark_form.remark_text.label.text }}:<br>
        {{ final_remark_form.remark_text(cols="100", rows="5") }}
        {% for error in final_remark_form.remark_text.errors %}
          <span class="error">{{ error }}</span>
        {% endfor %}
      </p>
      <p>
        {{ final_remark_form.remark_score_percentage.label.text }}: {{ final_remark_form.remark_score_percentage() }}
        {% for error in final_remark_form.remark_score_percentage.errors %}
          <span class="error">{{ error }}</span>
        {% endfor %}
      </p>
      <p>{{ final_remark_form.submit_final_remark() }}</p>
    </form>
  </div>

  <hr>
{% endif %}


<div class="container-fluid">
  <h3>Add remark:</h3>
  <form action="" method="post">
    {{ remark_form.hidden_tag() }}
    <p>
      {{ remark_form.remark_text.label.text }}:<br>
      {{ remark_form.remark_text(cols="100", rows="5") }}
      {% for error in remark_form.remark_text.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ remark_form.remark_score_percentage.label.text }}: {{ remark_form.remark_score_percentage() }}
      {% for error in remark_form.remark_score_percentage.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    </p>
    <p>{{ remark_form.submit_remark() }}</p>
  </form>
</div>


{% endblock %}
