{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='js/drag_n_drop.js') }}"></script>
<div class="container-fluid">
  <h1>Task {{ task.task_number }}, subtask {{ subtask.subtask_number }}</h1>
  <h3>{{ subtask.subtask_text }}</h3>
  <p>Subtask text: {{ subtask.subtask_text }}</p>
  <p>Maximum points: {{ subtask.max_points }}</p>
  <div class="well well-sm" id="ajax-message-well" style="display: none">
  </div>
</div>
<hr>

<div class="container-fluid">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse-solutions" aria-expanded="false" aria-controls="{{ create_multicollapse_list(subtask.id, solutions=True) | safe }}">Toggle solutions</button>

  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse-remarks" aria-expanded="false" aria-controls="{{ create_multicollapse_list(subtask.id, solutions=False) | safe }}">Toggle remarks</button>
</div>

<div class="container-fluid" ondragover="allow_drop(event)" ondrop="drop_solution(event)">
  <ul class="list-group" id="solution-groups-list">
  	{% for solution_group in solution_groups %}
      {{ render_solution_group(solution_group.id)|safe }}
      <hr>
    {% endfor %}
  </ul>
</div>
{% endblock %}
