{% extends "base.html" %}

{% block content %}
<h1>Task number {{ task.task_number }}</h1>
<h2>Homework {{ task.homework }}</h2>
<div class="container">
  <p>{{ task.task_text }}</p>
</div>
<div class="container">
  <ul class="list-group">
  	{% for solution_group in task.solution_groups %}
      <li class="list-group-item">
        <a href={{ url_for('solution_group', sg_id=solution_group.id) }}>
          <h4>Solution group {{ solution_group.id }}</h4>
          Text: {{ task.task_text }} TODO OVO DOVRŠIT
          Number of solution groups: {{ len(task.solution_groups) }}
          {# this unresolved solution calculation needs testing #}
          Number of unresolved solution groups: {{ len([group for group in task.solution_groups if group.final_score_penalty is None]) }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}