{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <h1>{{ homework.get_slug() }}, task {{ task.task_number }}</h1>
  {% if task.task_text %}
    <h3>{{ task.task_text }}</h3>
  {% endif %}
</div>
<div class="container-fluid">
  <ul class="list-group">
  	{% for subtask in task.subtasks %}
      <li class="list-group-item">
        <a href={{ url_for('subtask', subtask_id=subtask.id, task_id=task.id, hw_id=homework.id) }}>
          <h4>Subtask number {{ subtask.subtask_number }}</h4>
          Text: {{ subtask.subtask_text }} <br>
          Number of solution groups: {{ subtask.solution_groups.count() }} <br>
          {# this unresolved solution calculation needs testing #}
          {# Number of unresolved solution groups: {{ [group for group in subtask.solution_groups if group.final_score_percentage is None] | length }} #}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}